*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-----------------top navigation-----------------------*/
header { @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
  background-color: #cfb997;
  overflow: hidden;
}

.conteiner-nav {
  width: 50%;
  margin:0px auto;
}

nav {
  float: right;
}

nav ul {
  margin: 30px;
  padding: 0;
  list-style: none; 
}

nav li{
  display: inline-block;
  margin-left: 70px;
  margin: 0 35px;
}

nav a{
  color: rgb(247, 235, 235);
  text-decoration: none;
  text-transform: uppercase;
}

nav li a:hover {
  
  background: rgb(26, 25, 25);
  color: rgb(210, 209, 209);
  padding:5px;
  border-radius: 2rem;
}

 li.active a {
	color: rgba(43, 40, 34, 0.544);
}
/* the nav bar finishes here */

/*-----------------main-----------------------*/


body {
  /*
  background-image: url("images/Cooking.jpeg");
  color:rgb(247, 235, 235);
  text-align: center;
  */
}

#home {
  border: 5px solid red; 
	display: flex;
  flex-direction:row;
	justify-content: space-evenly;
  flex-wrap: wrap;
	margin: 30px auto;
	max-width: 1000px;
  max-height: 2000px;
  margin-bottom: 100px;
}
#home img{
  height: 300px;
  margin: 20px 80px;
}
.content {
  border: 5px solid green; 
  justify-content: flex-end;

}
.content h1{
  font-size: 30px;
  justify-content: center;
}
.content ul{
  background-color: #cfb997;
  margin:30px;
  padding: 30px;
  border-radius: 10%;
  list-style: none;

  
}

.directions {
  border: 5px solid blue; 
}

.directions ul {
  
  margin:30px;
  padding: 30px;
  border-radius: 10%;
  list-style: none;
}







/* the footer starts here */
.container-bottom {
  display: flex;
  justify-content:space-between;
  @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
  background-color: #cfb997;
  color:rgb(247, 235, 235);
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
}

.copyright{
  justify-content: center;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 900px;
  
}

.collaborate{
  padding-top: 20px;
  padding-left: 20px;
  margin-left: 70px;
  margin-right: 40px;
  display: inline-block;
 
}